/* *** Html *** */

*{
	margin: 0%;
	padding:0%;
}

/* *** Color *** */

 span.greenMedium{
 	color:#50c214;
 }



/* *** Header *** */

div.header{
	background-color:#3e4244;
	font-family: OCR A Std, monospace;
	padding-top:1%;
	padding-bottom:1%;
}

h2.nav{
	display:inline;/*Alignement de l'élément*/
	margin-right:2%;
	margin-left:1%;
	color:white;

}

a.nav{
	text-decoration:none;
	float:right;
	margin-right:1%;
	color:white;
}
/*Contact*/
input[type=submit] {
	width: 10%;
	background-color: #4CAF50;
	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}
input[type=text] {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 7px;
}
textarea {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px%;
}

input[name=username] {
	width: 250;
}
input[name=sujet] {
	width: 255;
} 
form {
	font-family: monospace;
}
